<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/base.css">
  <title>Hello, world!</title>
</head>

<body>
  <div class="d-flex flex-column align-items-center mx-4 mx-sm-5 p-3" style="margin-top:48px;min-height:calc(100vh-48px);">
    <div class="row flex-grow-1 py-4 border-bottom border-dark">
      <div class="col d-flex flex-column px-0">
        <div class="d-flex justify-content-between align-items-center">
          <a class="text-decoration-none font-weight-bold h5" href="">git-them</a>
          <a href="" class="btn btn-sm btn-primary" style="min-width:100px;">JOIN</a>
        </div>
        <p class="mt-2">git-them is an Angular app that uses the GitHub API to retrieve user information such as username, profile photo and repository listing</p>
        <div class="d-flex text-muted" style="font-size:12px;">
          <span class="mr-3">Githurai 45</span>
          <span class="mr-3">Recent activity 9 hours ago</span>
        </div>
      </div>
    </div>
    <div class="row flex-grow-1 py-4 border-bottom border-dark">
      <div class="col d-flex flex-column px-0">
        <div class="d-flex justify-content-between align-items-center">
          <a class="text-decoration-none font-weight-bold h5" href="">git-them</a>
          <a href="" class="btn btn-sm btn-primary" style="min-width:100px;">JOIN</a>
        </div>
        <p class="mt-2">git-them is an Angular app that uses the GitHub API to retrieve user information such as username, profile photo and repository listing</p>
        <div class="d-flex text-muted" style="font-size:12px;">
          <span class="mr-3">Githurai 45</span>
          <span class="mr-3">Recent activity 9 hours ago</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>